version: 2
updates:
  - package-ecosystem: "maven"
    open-pull-requests-limit: 10
    directory: "/sample-plugin"
    schedule:
      interval: "daily"
  - package-ecosystem: "maven"
    open-pull-requests-limit: 25
    directory: "/bom-weekly"
    ignore:
      - dependency-name: "org.jenkins-ci.plugins:google-oauth-plugin"
        versions: "1.1.1"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
